.PomodoroApp {
  margin: 30px 0 0 30px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 3px 15px #0000001a;
  overflow: hidden;
  background-color: var(--text);
}

.Inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 15px;
}
.Input {
  width: 100px;
  height: 15px;
  border: 0;
}

.Buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.Button {
  background-color: var(--text);
  font-size: 20px;
  color: white;
  border: 0;
}

.Timers {
  display: flex;
  flex-direction: column;
 justify-content: space-evenly;
}

.Timer {
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 40px;
}

.CurrentStatus {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 20px;
}