.switch-button-right{

    padding: 15px;
    gap: 10px;

    width: 60px;
    height: 60px;

    /* blue */

    background: #133D8D;
    border: none;

}

.switch-button-vector-right{
    width: 30px;
    height: 30px;
    background: url('https://api.iconify.design/ic/baseline-keyboard-arrow-right.svg?color=white') no-repeat center center / contain;
}