.switch-button-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;

    width: 60px;
    height: 60px;

    /* blue */

    background: #133D8D;
    border: none;

}

.switch-button-vector-left{
    width: 30px;
    height: 30px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background: url('https://api.iconify.design/ic/baseline-keyboard-arrow-right.svg?color=white') no-repeat center center / contain;
}