.header {
  display: flex;
  flex-direction: row;
  justify-content: right;
  background-color: rgba(175, 170, 170, 0.79);
  height: 50px;
  width: 100%;
}
html,
body {
  height: 100%;

}

.link {
  display: flex;
  padding: 10px;
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.link:hover {
  color: aliceblue;
}

.link:active {
  color: black;
}
